.formInput {
  margin-top: 2rem;
}

form input[name="city"],
form input[name="country"] {
  background-color: transparent;
  color: black;
  border: none;
  border-bottom: 2px solid rgb(224, 219, 219) !important;
  border-radius: 0;
  padding: 10px;
}

form input,
input ::-webkit-input-placeholder {
  color: white !important;
  border: none !important;
  background-color: transparent;
}

form input:focus {
  background-color: transparent !important;
  color: white;

  box-shadow: none !important;
  border-bottom: 2px solid tomato !important;
}
